{% load staticfiles %}

{% block sidebar %}
	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			<div class="sidebar-module sidebar-module-inset">
				<h4>About</h4>
				<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
			</div> <!-- sidebar about -->
			<div class="sidebar-module">
				<h4>Links</h4>
				<ol class="list-unstyled">
					<li class="sidebar-link"><a href="https://github.com/wblanken/">
						<img class ="link-img"src="{% static 'images/GitHub-Mark-Light-32px.png' %}" /> GitHub</a>
					</li>
					<li class="sidebar-link">
						<a href="https://twitter.com/wblanken86">
							<img class="link-img" src="{% static 'images/Twitter_logo_blue.png' %}" /> @wblanken86</a>
					</li>
					<li class="linkedIn-button"><a href="http://jp.linkedin.com/in/wblanken">
						<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View William Blankenship's profile on LinkedIn">
					</a></li>
				</ol>
			</div> <!-- sidebar links -->
			<div class="sidebar-module">
				<h4>Archives</h4>
				<!-- Put archive code here -->
				<p>TODO</p>
			</div> <!-- sidebar archives -->
		</div> <!-- sidebar -->
{% endblock %}

